html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

main {
    width: 80%;
}

@media screen and (min-width: 1024px) {
    main {
        width: 60%;
    }
}

form {
    margin: 0 auto;
}

input,
select {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border-style: 1px solid #efefef;
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.radio div,
.checkbox div {
  display: flex;
  align-items: center;
}

.radio input,
.checkbox input {
  width: auto;
  margin: 0;
  margin-right: 0.625rem;
}

.textarea {
  display: flex;
  flex-direction: column;
}

.textarea label {
  margin-bottom: 1rem;
}

textarea {
  outline: none;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

.checkbox {
  margin-bottom: 1rem;
}

#submit {
    padding: 2rem 3rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: dodgerblue;
    color: white;
    width: 100%;
}

#submit:hover {
    background-color: crimson;
    cursor: pointer;
}

@media screen and (min-width: 732px) {
    #submit {
        width: 50%
    }
}