html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input,
select {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border-style: 1px solid #efefef;
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.radio div,
.checkbox div {
  display: flex;
  align-items: center;
}

.radio input,
.checkbox input {
  width: auto;
  margin: 0;
  margin-right: 0.625rem;
}

.textarea {
  display: flex;
  flex-direction: column;
}

.textarea label {
  margin-bottom: 1rem;
}

textarea {
  outline: none;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

.checkbox {
  margin-bottom: 1rem;
}
